.contenedor-flex {
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  background-image: url(fondo.jpg);
}

.h {
  display: block;
  margin: 0 auto;
}

.link {
  text-decoration-line: none;
  text-decoration-color: black;
}
