#contenedor-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80vh;
  background
}

.titulo{
  font-family: 'Cambria', sans-serif;
  font-size: 40px;
  font-weight: bold
}

.subtitulo{
  font-family: 'Mermelad', sans-serif;
  font: size 20;px;
  font-weight: bold;
}

.cuerpo{
  font-family: 'laila', sans-serif;
  font-size: 20px;
}
.enlace{
  color:black
  font-weight:bold;
   text-decoration:none;
}

input{
  width: 130px;
  height: 20px;
  margin: auto;
  
